<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="BodenkoVV_AskQuestion::askquestion" title="AskQuestion" module="BodenkoVV_AskQuestion" sortOrder="51" resource="BodenkoVV_AskQuestion::askquestion"/>
        <add id="BodenkoVV_AskQuestion::askquestion_question" title="Questions" module="BodenkoVV_AskQuestion" sortOrder="30" action="askquestion/question" resource="BodenkoVV_AskQuestion::question" parent="BodenkoVV_AskQuestion::askquestion"/>
        <add id="BodenkoVV_AskQuestion::askquestion_configuration" title="Configuration" module="BodenkoVV_AskQuestion" sortOrder="10" action="adminhtml/system_config/edit/section/askquestion" resource="BodenkoVV_AskQuestion::configuration" parent="BodenkoVV_AskQuestion::askquestion"/>
    </menu>
</config>
