<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="homework5" id="homework5">
            <module name="BodenkoVV_Homework5"/>
        </route>
    </router>
</config>
