// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Typography
//  ---------------------------------------------
//  Primary button

@button-primary__background: @color-pink4;
@button-primary__border: 1px solid @color-dark-blue1;
@button-primary__color: @color-white;


