<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="BodenkoVV\HomeWork11\Controller\Part3\Index">
        <arguments>
            <!-- Pass simple string -->
            <argument name="_classString" xsi:type="string">yyyyyyyyyyyyyy</argument>
            <!-- Pass instance of Magento\Some\Type -->
            <argument name="_classObj" xsi:type="object">BodenkoVV\HomeWork11\NativePhp\part2</argument>
            <!-- Pass true -->
            <argument name="_classBool" xsi:type="boolean">1</argument>
            <!-- Pass 1 -->
            <argument name="_classInt" xsi:type="number">1</argument>
            <!-- Pass constant value -->
            <argument name="_classConstant" xsi:type="const">Magento\Captcha\Helper\Data::DEFAULT_CAPTCHA_TYPE</argument>
            <!-- Pass array -->
            <argument name="_classArray" xsi:type="array">
                <!-- First element is value of constant -->
                <item name="firstElem" xsi:type="const">Magento\Captcha\Helper\Data::DEFAULT_CAPTCHA_TYPE</item>
                <!-- Second element is null -->
                <item name="secondElem" xsi:type="null"/>
                <!-- Third element is a subarray -->
                <item name="thirdElem" xsi:type="array">
                    <!-- Subarray contains scalar value -->
                    <item name="scalarValue" xsi:type="string">ScalarValue</item>
                    <!-- and application init argument -->
                    <item name="globalArgument " xsi:type="init_parameter">Magento\Captcha\Helper\Data::MODE_AFTER_FAIL</item>
                </item>
            </argument>

        </arguments>
    </type>
</config>
