<div class="component-wrapper">
    <!--data-bind="style: {top: randomTop; left: randomLeft}"-->
    <!--style="font-size: large; position: relative;"-->
    <!--data-bind="style: {top: randomTop; left: randomLeft; }"-->
    <div id="bvv-ko" class="component-wrapper-bvvko" data-bind="style: {top: randomTop, left: randomLeft, position: randomPos}">
        <div data-bind="text: 'Catalog Timer', style: {color: randomColourPreview}"></div>
        <div data-bind="text: myTimer, style: {color: randomColour}"></div>
</div>
</div>
