<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="BodenkoVV\HomeWork11\Model\Part3Helper">
        <arguments>
            <!-- Pass simplqe string -->
            <argument name="_classString" xsi:type="string">yyyyyyyyyyyyyy</argument>
            <!-- Pass instance of BodenkoVV\HomeWork11\Model\Part2 -->
            <argument name="_classObj" xsi:type="object">BodenkoVV\HomeWork11\Model\Part2</argument>
            <!-- Pass true -->
            <argument name="_classBool" xsi:type="boolean">1</argument>
            <!-- Pass 1 -->
            <argument name="_classInt" xsi:type="number">1</argument>
            <!-- Pass constant value -->
            <argument name="_classConstant" xsi:type="const">Magento\Captcha\Helper\Data::DEFAULT_CAPTCHA_TYPE</argument>
            <!-- Pass array -->
            <argument name="_classArray" xsi:type="array">
                <!-- First element is value of constant -->
                <item name="firstElem" xsi:type="const">Magento\Captcha\Helper\Data::DEFAULT_CAPTCHA_TYPE</item>
                <!-- Second element is null -->
                <item name="secondElem" xsi:type="string">22222</item>
                <!-- Third element is a subarray -->
                <item name="thirdElem" xsi:type="number">33333</item>
            </argument>
        </arguments>
    </type>
</config>
