<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <type name="Magento\Catalog\Block\Product\View">
        <arguments>
             <argument name="_helpersData" xsi:type="object">BodenkoVV\AskQuestion\Helper\Data</argument>
        </arguments>
    </type>

</config>
