<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <type name="Magento\Catalog\Block\Product\View">
        <arguments>
             <argument name="_helpersData" xsi:type="object">BodenkoVV\AskQuestion\Helper\Data</argument>
        </arguments>
    </type>

<!--    <type name="BodenkoVV\AskQuestion\Model\ResourceModel\Question\CollectionFactory">-->
<!--        <plugin name="bodenkovv-askquestion-question-model" type="BodenkoVV\AskQuestion\Plugin\QuestionModelPlugin" sortOrder="1" />-->
<!--    </type>-->

<!--    <type name="BodenkoVV\AskQuestion\Model\ResourceModel\Question\CollectionFactory">-->
<!--        <plugin name="bodenkovv_askquestion"-->
<!--                type="BodenkoVV\AskQuestion\Plugin\Model\ResourceModel\Question\Collection"/>-->
<!--    </type>-->
</config>
