<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <askquestion>
            <general>
                <bodenkovv_askquestion_enable>1</bodenkovv_askquestion_enable>
                <bodenkovv_askquestion_title>AskQuestion</bodenkovv_askquestion_title>
                <bodenkovv_askquestion_description>You have chance ask us about this product </bodenkovv_askquestion_description>
                <bodenkovv_askquestion_status_auto>pending</bodenkovv_askquestion_status_auto>
            </general>
        </askquestion>
    </default>
</config>
