<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
  <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bodenkovv_askquestion_question_listing_data_source" xsi:type="string">BodenkoVV\AskQuestion\Model\ResourceModel\Question\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bodenkovv_askquestion_question_status_data_source" xsi:type="string">BodenkoVV\AskQuestion\Model\Config\Source\Status</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="BodenkoVV\AskQuestion\Model\ResourceModel\Question\Grid\CollectionVirtual"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">bodenkovv_askquestion</argument>
            <argument name="resourceModel" xsi:type="string">BodenkoVV\AskQuestion\Model\ResourceModel\Question</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="update_product_qty" xsi:type="object">
                    BodenkoVV\AskQuestion\Console\Command\UpdateProductQty
                </item>
            </argument>
        </arguments>
    </type>
</config>
